<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Confessions Page</title>
    <noscript>You disabled Javascript, even though it isn't useful lol</noscript>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <div class="header">
        <header>
            <h1>School Confessions Page</h1>
            <h3>This page will be updated every week to include the latest confessions!</h3>
        </header>
    </div>
    <div class="confessions">
        <form method="post" id="confessionstuff" action="/submit">
        <label for="confession">Please input your confession below:</label><br>
        <textarea form = "confessionstuff" type="text" placeholder="Insert your confessions here:" name="confession" required></textarea><br>
        <input type="submit" id="na">
        </form>
    </div>
    <footer>
        <h1>Made with 💖 by Kareem Alhaj</h1>
    </footer>
</body>
</html>
