<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Request worked!</title>
    <style>
        body {
            font-family:Arial, Helvetica, sans-serif;
            text-align:center;

        }
        a {
            font-weight: bold;
            padding:20px;
        }
        h1 {
            padding:20px;
        }
    </style>
</head>
<body>
    <h1>Your confession has been submitted succesfully, you may now exit.</h1>
    <a href="/" title="Confessions Page">Go back to confessing.</a>
    <!--ana jo3an-->
</body>
</html>
